name: "LAPRAS Card"

on:
  schedule:
    - cron: "0 18 * * 0"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-card:
    runs-on: ubuntu-latest
    steps:
      - uses: kawamataryo/lapras-card-readme@v1
        with:
          SHARE_ID: "uhooi"
          LANG: "en"
